/* index.css */
body {
  min-height: 100vh;
  background-color: #1a365d;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.mt-8 {
  margin-top: 2rem;
}

.p-8 {
  padding: 2rem;
}

.bg-white {
  background-color: #ffffff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.font-semibold {
  font-weight: 600;
}

.mb-4 {
  margin-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.border-blue-500 {
  border-color: #88b2f5;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-left {
  text-align: left;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.text-color {
  color: #17033c;
}

.text-white {
  color: azure;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.thead {
  display: table-header-group;
}

.th,
.td {
  flex: 1 0 0;
  display: table-cell;
  padding: 0.5rem;
}

.th:nth-child(1),
.td:nth-child(1) {
  flex-basis: 30%;
}

.th:nth-child(2),
.td:nth-child(2) {
  flex-basis: 30%;
}

.th:nth-child(3),
.td:nth-child(3) {
  flex-basis: 20%;
}

.th:nth-child(4),
.td:nth-child(4) {
  flex-basis: 20%;
}

.w-full {
  width: 100%;
}

.mt-4 {
  margin-top: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.ul {
  list-style: none;
  padding: 0;
}

.mb-4 {
  margin-bottom: 1rem;
}

.li {
  display: list-item;
}

.strong {
  font-weight: bold;
}

.a {
  text-decoration: none;
  color: #3b82f6;
}

.a:hover {
  text-decoration: underline;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.material-item {
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .flex-wrap {
    flex-wrap: wrap;
  }

  .md\:space-y-0 {
    margin-bottom: 0;
  }

  .md\:space-x-4 > * + * {
    margin-left: 0;
    margin-top: 10px;
  }

  .th,
  .td {
    flex-basis: 100%; 
    display: block;
    text-align: left;
    padding: 8px; 
    margin-bottom: 5px; 
  }
}

@media (min-width: 640px) {
  .flex-wrap {
    flex-wrap: wrap;
  }

  .md\:space-y-0 {
    margin-bottom: 0;
  }

  .md\:space-x-4 > * + * {
    margin-left: 20px;
  }

  .container {
    padding: 1rem;
  }

  .py-2,
  .px-4 {
    padding: 0.25rem;
  }

  .th,
  .td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}